<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Property  List
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                        <td>
                            <h:outputLabel id="Id" value="Id"  />
                        </td>
                        <td>
                            <h:outputLabel id="Price" value="Price"  />
                        </td>

                        <td>
                            <h:outputLabel id="Address" value="Address"/>
                        </td>

                    </tr>

                    <ui:repeat id="Myrepeat" value="#{propertyApplication.properties}"  var="property" varStatus="status">

                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent;
                            document.getElementById('MyForm:selectedId').value = document.getElementById('MyForm:Myrepeat:#{status.index}:MainPropertyID').textContent;">
                            <td>
                                <h:outputText value="#{propertyApplication.properties.get(status.index).propertyId}" id="MainPropertyID" />

                            </td>

                            <td>
                                <h:outputText id="outPrice" value="#{propertyApplication.properties.get(status.index).price}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{propertyApplication.properties.get(status.index).address}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/detail.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="propertyID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/edit.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="propertyID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:commandLink value="Delete" action="#{removeProperty.removeProperty(propertyApplication.properties.get(status.index).propertyId)}" disabled="#{propertyApplication.properties.get(status.index).propertyId == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />
                    &nbsp; &nbsp;
                    <h:commandButton id="viewAll" value="View All" action="#{searchProperty.searchAll()}" class="btn btn-primary" >
                        <f:param name="propertyID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchProperty.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "  />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchProperty.searchPropertyById(searchProperty.searchByInt)}" class="btn btn-primary" >
                        <f:param name="propertyID" value="#{status.index + 1}"/>
                    </h:commandButton>

                    <h:inputText value="#{searchProperty.searchByDouble}" id="searchByBudget" required="true" onchange="if (document.getElementById('MyForm:searchByBudget').value.trim() == '') {document.getElementById('MyForm:searchByBudget').value = 0.0;} " />
                    <h:commandButton id="searchBudget" value="Search by Budget" action="#{searchProperty.searchPropertyByBudget(searchProperty.searchByDouble)}" class="btn btn-primary" >
                        <f:param name="propertyID" value="#{status.index + 1}"/>
                    </h:commandButton>


                    <h:selectOneMenu id="contact" value="#{searchProperty.contactPersonId}" >
                        <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                        <f:selectItems value="#{propertyManagedBean.allContactPeople}" var="c"
                                       itemLabel="#{c.name}" itemValue="#{c.conactPersonId}" />
                    </h:selectOneMenu>
                    <h:commandButton id="searchByContact" value="Search by Contact" action="#{searchProperty.searchPropertyByContactPersonId(searchProperty.contactPersonId)}" class="btn btn-primary" >
                        <f:param name="propertyID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <br />
                    <hr style="border-color: lightgrey;" />
                    <table>
                        <tr>
                            <td width="500">
                                <b>Loan Monthly Payment Calculation</b>
                            </td>
                            <td>
                                <b>Comparing Properties</b>
                            </td>
                        </tr>
                    </table>
                </div>

                    <br />
                    <br />
                <table>

                    <tr>
                        <td width="180">Principle(click on property):</td>
                        <td width="320">
                            <h:inputText id="principle" value="#{loanManagedBean.loan.principle}"
                            ValidatorMessage="Please enter the principle greater than 1">
                                <f:converter converterId="javax.faces.Double" />
                                <f:validateLongRange minium = "1" maximum = "1000"/>
                            </h:inputText>
                        </td>
                        <td>
                            Selected property id:
                        </td>
                        <td>
                            <h:inputText id="selectedId" value="#{propertyManagedBean.selectedId}"  ></h:inputText>
                        </td>

                    </tr>
                    <tr>
                        <td>Interest Rate:</td>
                        <td><h:selectOneListbox value="#{loanManagedBean.loan.interestRate}" size="3" >
                                <f:selectItem itemValue="0.01" itemLabel="0.01" />
                                <f:selectItem itemValue="0.02" itemLabel="0.02" />
                                <f:selectItem itemValue="0.03" itemLabel="0.03" />
                                <f:selectItem itemValue="0.04" itemLabel="0.04" />
                                <f:selectItem itemValue="0.05" itemLabel="0.05" />
                                <f:selectItem itemValue="0.06" itemLabel="0.06" />
                                <f:selectItem itemValue="0.07" itemLabel="0.07" />

                            </h:selectOneListbox></td>
                        <td>

                        </td>
                        <td>
                            <h:commandButton id="addCompare" value="AddCompare" action="#{propertyManagedBean.addPropertyID()}" />&nbsp; &nbsp;
                            <h:commandButton id="removeCompare" value="RemoveCompare" action="#{propertyManagedBean.removePropertyID()}" />
                        </td>

                    </tr>
                    <tr>
                        <td>Number of Years: </td>
                        <td><h:inputText id="numberOfYears" value="#{loanManagedBean.loan.numberOfYears}"
                        	ValidatorMessage="Please enter the number of years greater than 1">
                                <f:converter converterId="javax.faces.Integer" />
                                <f:validateLongRange minium = "1"/>
                            </h:inputText></td>
                        <td>

                        </td>
                        <td>
                            <h:commandButton id="bestPerRoom" value="BestPerRoom" action="#{propertyManagedBean.bestPerRoom()}" />&nbsp; &nbsp;
                            <h:outputLabel id="bestPropertyId" value="#{propertyManagedBean.bestPerRoom}"  />
                        </td>
                    </tr>
                    <tr>
                        <td>Monthly Payment: </td>
                        <td colspan="3">
                            <h:outputLabel id="monthlyPayment" value="#{loanManagedBean.loan.monthlyPayment}">
                                <f:convertNumber currencyCode="AUD" type="currency" />
                            </h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h:commandButton id="calculate" value="Calculate" action="#{loanManagedBean.calculate()}" />
                        </td>

                    </tr>
                </table>


            </h:form>
        </div>
    </h:body>
</html>
